{% extends "base.html" %}
{% block titulo %} Atletas {% endblock %}

{% block contenido %}

{% include 'atletas/header.html' %}

{% include 'atletas/resumen_atletas.html' %}

{% include 'atletas/lista_atletas.html' %}

<br>
{% include 'atletas/tabla_atletas.html' %}

{% include 'atletas/modal_registro_atleta.html' %} 

{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const elementosReset = document.getElementsByName('nav-all-reset')
        const navAtletas = document.getElementById('nav-atletas')
        
        elementosReset[0].className = 'flex items-center gap-3 text-gray-400 hover:text-white hover:bg-gray-800 px-4 py-3 rounded-lg font-medium transition-colors';
        elementosReset[1].className = 'flex items-center gap-3 text-gray-400 hover:text-white hover:bg-gray-800 px-4 py-3 rounded-lg font-medium transition-colors';
        elementosReset[2].className = 'flex items-center gap-3 text-gray-400 hover:text-white hover:bg-gray-800 px-4 py-3 rounded-lg font-medium transition-colors';
        elementosReset[3].className = 'flex items-center gap-3 text-gray-400 hover:text-white hover:bg-gray-800 px-4 py-3 rounded-lg font-medium transition-colors';
        
        navAtletas.className = 'flex items-center gap-3 bg-primary/10 text-primary px-4 py-3 rounded-lg font-medium transition-colors border border-primary/20';
    })
</script>
{% endblock %}  