<header class="flex justify-between items-end mb-10">
    <div>
        <h1 class="text-3xl font-bold text-white mb-2">Atletas</h1>
        <p class="text-gray-400">Administra y haz seguimiento al progreso de tus atletas.</p>
    </div>
    <div class="flex items-center gap-5">
        <button class="p-2.5 text-gray-400 hover:text-white bg-card rounded-full border border-gray-800 transition-colors relative">
            <i class="ph ph-bell text-xl"></i>
            <span class="absolute top-0 right-0 w-3 h-3 bg-primary rounded-full border-2 border-dark"></span>
        </button>
        <div class="w-11 h-11 bg-gradient-to-tr from-primary to-emerald-300 rounded-full flex items-center justify-center text-dark font-bold text-lg shadow-lg shadow-primary/20">
            YC
        </div>
    </div>
</header>

<div class="flex justify-between items-center mb-8">
    <h2 class="text-xl font-bold text-white">Listado General</h2>
    <button class="bg-primary hover:bg-primaryHover text-white font-semibold py-3 px-6 rounded-xl flex items-center gap-2 transition-all shadow-lg shadow-primary/20" data-modal-toggle="datosAtletaModal"
                    data-modal-target="datosAtletaModal">
        <i class="ph ph-user-plus text-xl"></i>
        Añadir atleta
    </button>
</div>